rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  match /contact/{document=**} {
    allow write;
    }
    match /{document=**} {
      allow read;
      allow write: if false
    }
  }
}